// https://kdl.dev
// https://niri-wm.github.io/niri/

include "input.kdl"
include "binds.kdl"
include "layout.kdl"
include "window-rules.kdl"
include "animations.kdl"

prefer-no-csd

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORMTHEME "gtk3"
}

hotkey-overlay { skip-at-startup; }

cursor { xcursor-theme "Vimix-cursors"; }

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H-%M-%S.png"

gestures { hot-corners { off; }; }

spawn-at-startup "qs" "-c" "noctalia-shell" "--no-duplicate"
