// https://kdl.dev
// https://niri-wm.github.io/niri/

prefer-no-csd

include "input.kdl"
include "layout.kdl"
include "binds.kdl"

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORMTHEME "qt6ct"
}

hotkey-overlay { skip-at-startup; }

cursor { xcursor-theme "breeze_cursors"; }

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations { slowdown 1.5; }

window-rule {
    match app-id="steam"
    open-maximized true
}
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    draw-border-with-background false
}

layer-rule {
    match namespace="^noctalia-overview*"
    place-within-backdrop true
}

gestures { hot-corners { off; }; }

spawn-at-startup "qs" "-c" "noctalia-shell" "--no-duplicate"
