layout {
    center-focused-column "never"
    always-center-single-column

    gaps 12
    /-struts {
        left -12
        right -12
        top -12
        bottom -12
    }
    
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        on
        width 2
        active-color "#aad94c"
        inactive-color "#505050"
    }

    shadow {
        // on
        draw-behind-window false
        softness 30
        spread 8
        offset x=0 y=5
        color "#0007"
    }
}
