// https://niri-wm.github.io/niri/Configuration%3A-Layout

layout {
    background-color "#000000"
    center-focused-column "never"
    always-center-single-column

    gaps 12
    struts {
        left   0
        right  0
        top    0
        bottom 0
    }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        on
        width 3
        active-gradient from="#b8cc52" to="#f07078" angle=45
        inactive-color "#505050"
    }

    shadow {
        on
        draw-behind-window false
        softness 30
        spread 8
        offset x=0 y=5
        color "#0007"
    }
}
