// https://niri-wm.github.io/niri/Configuration%3A-Window-Rules
// https://niri-wm.github.io/niri/Configuration%3A-Layer-Rules

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    draw-border-with-background false
}

window-rule {
    match app-id="steam"
    open-maximized true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

layer-rule {
    match namespace="^noctalia-overview*"
    place-within-backdrop true
}
